body{
  background-image: url('../img/Taiyaki1.jpg');
  background-size: cover;
}
ul{
  color:rgb(8, 8, 8);
  font-size: 115%;
  font-weight: 600;
}
 h2{
  font-size:200%;
  text-align: center;
  color:darkblue;
}

h1{
  font-size: 180%;
  color: blueviolet;
  float: right;
  margin-left: 0%;
  margin-right: 20%;
}

header{
  border-style: dotted;
}

#leftImage{
  float: left;
}

#rightImage{
  float: right;
}

#headerControl{
display: inline-block;
align-content: space-between;
}

table, th, td{
border: solid 2px rgb(29, 9, 9);
border-spacing: 5px
}
th, td{
  background-color:ivory;
}

table{
  width: 85%;
  margin: auto;
}

#rightImage, #leftImage{
  height: 20%;
  width: 20%;
}
